<h1>
    User SignIn Page
</h1>
<form action="/users/create-session" method="post">
    <input type="email" name="emal" placeholder="Enter Email" required>
    <input type="password" name="password" placeholder="Enter Password" required>
    <input type="button" value="Sign In">
</form>