<h1>
    User SignUp Page
</h1>

<form action="/users/create" method="post">
    <input type="text" name="name" placeholder="Enter Name" required>
    <input type="email" name="emal" placeholder="Enter Email" required>
    <input type="password" name="password" placeholder="Enter Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <input type="button" value="Sign Up">
</form>