<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <header>
            <h3>Header</h>
        </header>

        <h1>Codial / <%= title %></h1>

        <footer>
            <h3>footer</h3>
        </footer>
    </body>
</html>